@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mr+Bedfort&family=Playwrite+NZ+Guides&display=swap');  
html {
    height: 100%;
}

/* colour codes for main site.
Emerald = #1D3B28
Mauve = #874C62
Prussian Blue = #003152
Chartreuse = #BA9F38
Pale Lime = #E1CC96
Butter Base = #FCEBD0
*/

.rotate{
    transform: rotate(90deg);
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    font-family: 'DM Serif Text', serif;
    background-size: cover;
    height: calc(100vh - 164px);
    background-color: #FCEBD0 !important;
}

h1, h2, h3 {
    font-family: 'Playwrite NZ Guides', sans-serif;
}

h2 {
    color: #874C62;
}

.shop-now-button {
    padding: 10px 20px;
    background-color: #BA9F38;
    color: #FCEBD0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shop-now-button:hover {
    color: #874C62;
    background-color: #E1CC96;
}

/*Nav and carasol*/
.carousel-item img {
    height: 37rem;        /* adjust height */
    object-fit: cover;    /* prevents distortion */
}

.btn {
    background-color: #874C62;
    color: #FCEBD0;
}

.search {
    background-color: transparent;
    border-color: #E1CC96;
    color: #E1CC96;
}

.search-btn {
    border-color: transparent;
    background-color: transparent;
    color: #E1CC96;
}

.carousel-img {
    max-height: 400px;
    object-fit: cover;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-link{
    color: #E1CC96;
}

#hero-title {
    line-height: 3.2;
    position: absolute;          /* sits on top of carousel */
    top: 20px;                   /* distance from top of carousel */
    left: 50%;                   /* center horizontally */
    transform: translateX(-50%);
    z-index: 10;                 /* above images */
    font-size: 6rem;             /* independent size */
    color: #874C62;             /* independent color */
    text-shadow: 3px 3px 8px rgba(0,0,0,0.6); /* for readability */
}

#hero-title:hover {
    color: #BA9F38;
    text-decoration: none;
}

.carousel-item{
    filter: opacity(30%);

}

#topnav {
    z-index: 999;
    transition: background-color 0.3s, color 0.3s;
    background-color: transparent; /* initial transparent */
}

#topnav a.nav-link {
    color: #874C62;               /* initial link color */
    text-decoration: none;
    margin-left: 15px;
    transition: color 1s;
}

/* Active scroll state */
#topnav.scrolled {
    background-color: #874C62;  /* bar color after scroll */
}

#topnav.scrolled a.nav-link {
    color: #FCEBD0;             /* text color after scroll */
}

.sub-header {
    color: #874C62;
    font-size: xxx-large;
}

.card {
    background-color: #874C62;
    color:#E1CC96;
}

.less-important-text {
    color: #FCEBD0;
}

.searching-text {
    color: #E1CC96;
}

placeholder {
    color: #874C62;
}

.category-badge:hover {
    background-color: #E1CC96; /* bootstrap dark color */
    color: #874C62
}

.categories {
    color: #E1CC96;
}

.categories:hover {
    color: #BA9F38;
}

.nav-link:hover {
    color: #BA9F38;
}

.products-text {
    color: #BA9F38;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}