@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mr+Bedfort&family=Playwrite+NZ+Guides&display=swap');  
html {
    height: 100%;
}

/* colour codes for main site.
Mauve = #601A32
Prussian Blue = #003152
Soft orange = #944817
Soft Brown = #8E685B
Grey/white = #DBDAD6
*/

.rotate{
    transform: rotate(90deg);
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    font-family: 'DM Serif Text', serif;
    background-size: cover;
    height: calc(100vh - 164px);
    background-color: #DBDAD6;
}

h1, h2 {
    font-family: 'Playwrite NZ Guides', sans-serif;
}

/*Nav and carasol*/
.carousel-item img {
    height: 37rem;        /* adjust height */
    object-fit: cover;    /* prevents distortion */
}

.search {
    background-color: transparent;
    border-color: #8E685B;
    color: #8E685B;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-link{
    color: #8E685B;
}


#hero-title {
    line-height: 3.2;
    position: absolute;          /* sits on top of carousel */
    top: 20px;                   /* distance from top of carousel */
    left: 50%;                   /* center horizontally */
    transform: translateX(-50%);
    z-index: 10;                 /* above images */
    font-size: 6rem;             /* independent size */
    color: #8E685B;             /* independent color */
    text-shadow: 3px 3px 8px rgba(0,0,0,0.6); /* for readability */
}

#hero-title:hover {
    color: #601A32;
    text-decoration: none;
}

.carousel-item{
    filter: opacity(30%);

}

#topnav {
    z-index: 999;
    transition: background-color 0.3s, color 0.3s;
    background-color: transparent; /* initial transparent */
}

#topnav a.nav-link {
    color: #8E685B;               /* initial link color */
    text-decoration: none;
    margin-left: 15px;
    transition: color 1s;
}

/* Active scroll state */
#topnav.scrolled {
    background-color: #8E685B;  /* bar color after scroll */
}

#topnav.scrolled a.nav-link {
    color: #D7D6DB;             /* text color after scroll */
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}