{% extends "base.html" %}
{% load static %}

{% block title %}Logout{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center mt-3">Logout</h2>
            <hr class="w-50 mx-auto mb-4">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Logout</h2>
    <p>Are you sure you want to log out?</p>
    <form method="post" action="{% url 'logout' %}" >
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form> 
</div>
    
{% endblock %}